
<template lang="html">
  <div class="container-fluid" style="text-align:center">

<div class="plane":id="view_custom_id">
  <ol>
    <li class="row row--0">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" disabled id="0A" />
          <i class="material-icons">
            settings_input_svideo
          </i>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="0B" />
          <label for="0B">0B</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="0C" />
          <label for="0C">0C</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="0D" />
          <label for="0D">0D</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="0E" />
          <label for="0E">0E</label>
        </li>
      </ol>
    </li>
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="1" @click="onClickSelectedAsiento($event)">1</label>
        </li>
        <li class="seat" id="seat">
          <label for="2" @click="onClickSelectedAsiento($event)">2</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="1A">1A</label>
        </li>
        <li class="seat" id="seat">
          <label for="3" @click="onClickSelectedAsiento($event)">3</label>
        </li>
        <li class="seat" id="seat">
          <label for="4" @click="onClickSelectedAsiento($event)">4</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="5" @click="onClickSelectedAsiento($event)">5</label>
        </li>
        <li class="seat" id="seat">
          <label for="6" @click="onClickSelectedAsiento($event)">6</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="2C">2C</label>
        </li>
        <li class="seat" id="seat">
          <label for="7" @click="onClickSelectedAsiento($event)">7</label>
        </li>
        <li class="seat" id="seat">
          <label for="8" @click="onClickSelectedAsiento($event)">8</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="9" @click="onClickSelectedAsiento($event)">9</label>
        </li>
        <li class="seat" id="seat">
          <label for="10" @click="onClickSelectedAsiento($event)">10</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno"/>
          <label for="3C">3C</label>
        </li>
        <li class="seat" id="seat">
          <label for="11" @click="onClickSelectedAsiento($event)">11</label>
        </li>
        <li class="seat" id="seat">
          <label for="12" @click="onClickSelectedAsiento($event)">12</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="13" @click="onClickSelectedAsiento($event)">13</label>
        </li>
        <li class="seat" id="seat">
          <label for="14" @click="onClickSelectedAsiento($event)">14</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="4C">4C</label>
        </li>
        <li class="seat" id="seat">
          <label for="15" @click="onClickSelectedAsiento($event)">15</label>
        </li>
        <li class="seat" id="seat">
          <label for="16" @click="onClickSelectedAsiento($event)">16</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="17" @click="onClickSelectedAsiento($event)">17</label>
        </li>
        <li class="seat" id="seat">
          <label for="18" @click="onClickSelectedAsiento($event)">18</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="5C">5C</label>
        </li>
        <li class="seat" id="seat">
          <label for="19" @click="onClickSelectedAsiento($event)">19</label>
        </li>
        <li class="seat" id="seat">
          <label for="20" @click="onClickSelectedAsiento($event)">20</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="21" @click="onClickSelectedAsiento($event)">21</label>
        </li>
        <li class="seat" id="seat">
          <label for="22" @click="onClickSelectedAsiento($event)">22</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="6C">6C</label>
        </li>
        <li class="seat" id="seat">
          <label for="23" @click="onClickSelectedAsiento($event)">23</label>
        </li>
        <li class="seat" id="seat">
          <label for="24" @click="onClickSelectedAsiento($event)">24</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="25" @click="onClickSelectedAsiento($event)">25</label>
        </li>
        <li class="seat" id="seat">
          <label for="26" @click="onClickSelectedAsiento($event)">26</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="7C">7C</label>
        </li>
        <li class="seat" id="seat">
          <label for="27" @click="onClickSelectedAsiento($event)">27</label>
        </li>
        <li class="seat" id="seat">
          <label for="28" @click="onClickSelectedAsiento($event)">28</label>
        </li>
      </ol>
    </li>
    <li class="row row--8">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="29" @click="onClickSelectedAsiento($event)">29</label>
        </li>
        <li class="seat" id="seat">
          <label for="30" @click="onClickSelectedAsiento($event)">30</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="8C">8C</label>
        </li>
        <li class="seat" id="seat">
          <label for="31" @click="onClickSelectedAsiento($event)">31</label>
        </li>
        <li class="seat" id="seat">
          <label for="32" @click="onClickSelectedAsiento($event)">32</label>
        </li>
      </ol>
    </li>
    <li class="row row--9">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="33" @click="onClickSelectedAsiento($event)">33</label>
        </li>
        <li class="seat" id="seat">
          <label for="34" @click="onClickSelectedAsiento($event)">34</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="9C">9C</label>
        </li>
        <li class="seat" id="seat">
          <label for="35" @click="onClickSelectedAsiento($event)">35</label>
        </li>
        <li class="seat" id="seat">
          <label for="36" @click="onClickSelectedAsiento($event)">36</label>
        </li>
      </ol>
    </li>
    <li class="row row--10">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="37" @click="onClickSelectedAsiento($event)">37</label>
        </li>
        <li class="seat" id="seat">
          <label for="38" @click="onClickSelectedAsiento($event)">38</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="10C">10C</label>
        </li>
        <li class="seat" id="seat">
          <label for="39" @click="onClickSelectedAsiento($event)">39</label>
        </li>
        <li class="seat" id="seat">
        <label for="40" @click="onClickSelectedAsiento($event)">40</label>
        </li>
      </ol>
    </li>
    <li class="row row--11">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="41" @click="onClickSelectedAsiento($event)">41</label>
        </li>
        <li class="seat" id="seat">
          <label for="42" @click="onClickSelectedAsiento($event)">42</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="11C">11C</label>
        </li>
        <li class="seat" id="seat">
          <label for="43" @click="onClickSelectedAsiento($event)">43</label>
        </li>
        <li class="seat" id="seat">
          <label for="44" @click="onClickSelectedAsiento($event)">44</label>
        </li>
      </ol>
    </li>
    <li class="row row--12">
      <ol class="seats" type="A">
        <li class="seat" id="seat">
          <label for="45" @click="onClickSelectedAsiento($event)">45</label>
        </li>
        <li class="seat" id="seat">
          <label for="46" @click="onClickSelectedAsiento($event)">46</label>
        </li>
        <li class="seat" id="seat">
          <label for="47" @click="onClickSelectedAsiento($event)">47</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="12D">12D</label>
        </li>
        <li class="seat opa">
          <input type="checkbox" disabled id="relleno" />
          <label for="12E">12E</label>
        </li>
      </ol>
    </li>
  </ol>
</div>

  </div>
</template>
<script>
  export default{
    props:{
      asientos:{
        default: function(){return []}
      }
    },
    data(){
      return {
        view_custom_id: null,
        selected_asiento: 0,
      }
    },
    created(){
      this.view_custom_id = this.makeid();
      console.log("Distribucion 46");
      console.log("view_custom_id",this.view_custom_id);
    },
    mounted(){
      this.setDisabledSeat();
    },
    methods:{
      setDisabledSeat(){
        this.asientos.forEach((asiento,index) => {
          if(asiento.reservacion){
            console.log("el asiento " + asiento.numero + ' tiene reservacion.');
            $('#'+this.view_custom_id+ ' #seat').each((index,item) => {
              if(parseInt($(item).find('label').text()) == asiento.numero){
                $(item).addClass('seat seat-gray');
              } else {
                $(item).parent().addClass('seat');
              }
              //console.log(item)
            });
          }
        });
      },
      onClickSelectedAsiento(evt){
        console.log("id vista", this.view_custom_id);
        $('#' + this.view_custom_id + ' #seat').removeClass('seat-blue');
        $('#' + this.view_custom_id + ' #seat').addClass('seat');
        console.log(this.view_custom_id +' ' + $(evt.target).text());
        console.log("clase",$('#'+this.view_custom_id+ ' #seat').prop('class'));

        let numero_asiento = $(evt.target).text();
        console.log("numero asiento", numero_asiento)
        this.asientos.forEach((item,index) => {
          if(numero_asiento == item.numero){
            console.log('asiento seleccionado')
            console.log(item)
            if(item.reservacion == null){
              $(evt.target).parent().addClass('seat seat-blue');
              this.$emit('asientochild', item);
            } else {
              this.$emit('asientochild',null);
            }
          }
        });
      },
      checkStatusAsiento(numero_asiento){
        let band = true;
        this.asientos.forEach((item, index) => {
          if(item.numero == numero_asiento){
            if(!item.reservacion){
              band = false;
              //console.log("reservacion", item. reservacion)
              this.selected_asiento = item.numero;
            }
          }
        });
        return band;
      },
      makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
      }
    }
  }
</script>
<style scoped>
body {
  margin: 0;
  /*overflow:hidden;*/
}
.wrapper {
  transform: rotate(90deg);
  transform-origin: bottom left;

  position: absolute;
  top: -100vw;
  left: 0;

  height: 100vw;
  width: 100vh;

  background-color: #000;
  color: #fff;

  /*overflow:auto;*/
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.plane {
  margin: 20px auto;
  max-width: 300px;
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}

.exit {
  position: relative;
  height: 50px;
}
.exit:before,
.exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
}
.seat-blue {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
}
/*Separacionde asientos en de 2 filas--- cantidad de separacion de pasillo 14.28571428571429%*/
.seat:nth-child(2) {
  margin-right: 0;
}
.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.seat input[type="checkbox"]:checked + label {
  background: #3c8dbc;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type="checkbox"]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
/*caja con "X"*/
/*
.seat input[type="checkbox"]:disabled + label:after {
  content: "";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}*/

.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #bada55;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat-blue label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #3c8dbc;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat-gray label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #dddddd;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  box-shadow: none;
  cursor: not-allowed;
}

/*.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}*/

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.opa {
    opacity: 0.0;
}

</style>
