<template lang="html">
  <div>
    <component v-bind:is="currentView" :asientos="asientos" @asientochild="onAsiento($event)"/>
  </div>
</template>

<script>
import Sprinter from './distribuciones/Distribucion20Component.vue';
import Bus46 from './distribuciones/Distribucion46Component.vue';
import Bus47 from './distribuciones/Distribucion47Component.vue';
import Bus48 from './distribuciones/Distribucion48Component.vue';
import Bus51 from './distribuciones/Distribucion51Component.vue';
import Bus53 from './distribuciones/Distribucion53Component.vue';
import Bus50 from './distribuciones/Distribucion50Component.vue'

export default {
  components:{
    Sprinter,
    Bus46,
    Bus47,
    Bus48,
    Bus51,
    Bus53,
    Bus50,
  },
  props:[
    'asientos'
  ],
  data(){
    return {
      currentView: 'sprinter',
      components:['sprinter','bus-46','bus-47','bus-48','bus-51','bus-53','bus-50'],
    }
  },
  mounted(){
    this.seleccionarVista()
  },
  methods:{
    seleccionarVista(){
      console.log("renderizando vista de "+this.asientos.length + " asientos")
      console.log(this.asientos)
      if(this.asientos.length == 20){
        this.currentView = 'sprinter'
      } else if(this.asientos.length == 46) {
        this.currentView = 'bus-46'
      } else if(this.asientos.length == 47) {
        this.currentView = 'bus-47'
      } else if(this.asientos.length == 48) {
        this.currentView = 'bus-48'
      } else if(this.asientos.length == 50) {
        this.currentView = 'bus-50'
      } else if(this.asientos.length == 51) {
        this.currentView = 'bus-51'
      } else if(this.asientos.length == 53) {
        this.currentView = 'bus-53'
      } else {
        if(this.asientos.length != 0){
          alert("No hay vista para "+ this.asientos.length + " asientos");
        }
        console.warn("Error en vista")
      }
    },
    onAsiento(evt){
      this.$emit('asiento',evt);
    }

  }
}
//53,51,50,48,47,46,20
</script>

<style lang="css">
</style>
