<template lang="html">
  <div v-if="reservacion != null">
    <div class="col-xs-12">
                <div class="small-box">
                  <div class="inner">
                    <h4<b>{{reservacion.corrida.nombre}} - {{reservacion.corrida.hora_salida}}</b></h4>
                    <span class="label label-default pull-right">{{reservacion.estatus}}</span>
                    <div>
                      {{reservacion.cliente}}
                    </div>
                    <div>
                      Número de asiento : {{reservacion.asiento.numero}}
                    </div>
                    <p class="text-center"></p>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-bandcamp"></i>
                      </div>
                      <input type="text" readonly="readonly" class="form-control" :placeholder="reservacion.clave">
                    </div>
                    <p></p>
                    <p class="text-center"></p>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" readonly="readonly" class="form-control" :placeholder="reservacion.fecha_reservacion"></div>
                      <p></p>
                      <p class="text-center"></p>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-money"></i>
                        </div>
                        <input type="text" readonly="readonly" class="form-control" :placeholder="reservacion.costo_boleto">
                      </div>
                                          </div>
                    <div class="icon">
                      <i class="fa fa-ticket"></i>
                    </div>
                  </div>
    </div>
  </div>
</template>

<script>
export default {
  props:['reservacion']
}
</script>

<style lang="css">
</style>
