<template lang="html">
  <div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="input-group">
          <input type="text" class="form-control" v-model="buscar" placeholder="Código del boleto">
          <div class="input-group-btn">
            <button class="btn btn-default" @click="onClickBuscar()">Buscar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="panel panel-default" v-if="reservacion != null">
            <div class="panel-body">
              <boleto-component :reservacion="reservacion"></boleto-component>
              <hr>
              <h3>Aplicando Cambio</h3>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <date-input format="DD-MM-YYYY" width="100%" @change="onChangeFechas($event)" lang="es" v-model="fecha_cambio" input-class="form-control"></date-input>
                </div>
                <div class="col-xs-12 col-md-6">
                  <select class="form-control" v-model="corrida_cambio" @change="onChangeCorridas($event)">
                    <option value="">Selecciona una corrida</option>
                    <option v-for="c in corridas_list" :value="c.id">{{c.nombre}} - {{c.hora_salida}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row" v-if="fecha_cambio != null && corrida_cambio != ''">
                <div class="col-xs-12" v-if="isBuscando == false">
                  <button type="button" class="btn btn-block" @click="onClickBuscarAsientos()">BUSCAR ASIENTOS</button>
                  <button type="button" class="btn btn-primary btn-block" v-if="asiento_cambio" @click="onClickAceptar()">REALIZAR CAMBIO</button>
                </div>
                <div class="col-xs-12 text-center" v-else>
                  <i class="fa fa-refresh fa-spin"></i>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="box box-primary" v-show="asientos_disponibles">
          <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Asientos disponibles</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
            <ul class="todo-list ui-sortable">

              <li v-for="(item,index) of asientos_disponibles" :key="index">

                <span class="text">Asiento {{item.numero}}</span>
                <small :class="(item.reservacion)? 'label label-warning':'label label-success'"><i :class="(item.reservacion)? 'fa fa-close':'fa fa-check'"></i> {{(item.reservacion)? item.reservacion.estatus:'disponible'}}</small>
                <div class="pull-right">
                  <input type="radio" v-model="asiento_cambio" :value="item">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { api } from '../services/api.js';
import DatePicker from 'vue2-datepicker';
import * as moment from 'moment';
export default {
  components:{
      'boleto-component': require('./BoletoComponent.vue'),
      'date-input':DatePicker,
  },
  data() {
    return {
      buscar: '',
      corridas_list: [],
      reservacion:  null,
      fecha_cambio: null,
      corrida_cambio: '',
      isBuscando: false,
      asientos_disponibles: null,
      asiento_cambio: null,
    }
  },
  mounted() {
    api.listarCorridas((res) => {
      this.corridas_list = (res);
    });
  },
  methods: {
    onClickBuscar() {
      if(this.buscar.length < 6) {
        this.notification("Revisa la clave de reservación");
      } else {
        console.log('buscando cable  else' + this.buscar);
        this.buscarClave();
      }
    },
    buscarClave() {
      this.reservacion = null;
      api.buscarClave(this.buscar, (res) => {
        console.log(res)
        this.reservacion = res;
      });
    },
    onChangeCorridas(input) {
      this.asiento_cambio = null;
      this.asientos_disponibles = null;
    },
    onChangeFechas(input){
        console.log("cambió la fecha");
        moment.locale('es');
        let msg = "";
        let band = true;
        this.asiento_cambio = null;
        this.asientos_disponibles = null;
        //Validando si la fecha escogida es menor a la de hoy
        let fecha_cambio = moment(this.fecha_cambio.toString().substr(0,15));
        let today = moment()
        console.log(this.fecha_cambio)
        if(this.fecha_cambio != null){ //solo para que no muestre error en la consola
          const dias_diff = (fecha_cambio.diff(today,'days'));
          if(dias_diff < 0){
            this.fecha_cambio = null;
            band = false;
            msg = "La fecha seleccionada es menor al día de hoy, selecciona otra fecha"
          }
        }
        if(!band){
            this.notification(msg);
        }
    },
    notification(text){
      this.$notify({
        group: 'notification',
        type:'warn',
        title: 'Alerta',
        text: text
      });
    },
    onClickBuscarAsientos() {
      this.isBuscando = true;
      api.buscarAsientos({
          fecha_cambio: this.fecha_cambio,
          corrida_cambio: this.corrida_cambio
        },
        (res) => {
          this.isBuscando = false;

          if(res) {
            this.asientos_disponibles = (res);
          }
        }
      );
    },
    onClickAceptar() {
      let data = {
        fecha_cambio: this.fecha_cambio,
        asiento_cambio: this.asiento_cambio.id,
        corrida_cambio: this.corrida_cambio,
        clave: this.buscar,
        user_id: document.head.querySelector('meta[name="auth-user"]').content,
      };
      api.realziarCambio(data, (res) => {
        if(res) {
          this.asiento_cambio = null;
          this.asientos_disponibles = null;
        }
      });
    }
  }
}
</script>

<style lang="css">
</style>
