<template lang="html">
  <div>
    <cambio-component></cambio-component>
    <notifications group="notification" />
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  components:{
      'cambio-component': require('./CambioComponent.vue')
  },
}
</script>

<style lang="css">
</style>
