body{
   font-family: 'Ubuntu', sans-serif;
   background: #F5F5F5 !important;
}

td {
   padding:0px !important;
}
.pointer{
   cursor: pointer;
}

.padding {
    padding: 5px;
}

.seleccionado_h{
   background-image: url('../images/btn_azl_h.png')!important;
   color: white;
   width: 70px;
   height: 40px;
   color: white;
   width: 70px;
   height: 40px;
   text-align: center;
   /* margin: 5px 2px; */
   padding-left: 5px;
   padding-top: 10px;
   background-size: contain;
   background-repeat: no-repeat;
   padding-right: 40px;
   cursor: pointer;
}

.cargando_h {
  background-image: url('../images/asiento_loading.gif')!important;
  color: white;
  width: 70px;
  height: 40px;
  text-align: center;
  /* margin: 5px 2px; */
  padding-left: 5px;
  padding-top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 40px;
  cursor: not-allowed
}
.seleccionado_h .miniText {
   color: white !important;
}
.reservado_h{
   background-image: url('../images/btn_vrd_h.png')!important;
   color: white;
   cursor: pointer;
}
.apartado_h{
   background-image: url('../images/btn_nar_h.png')!important;
   color: white;
   width: 70px;
   height: 40px;
   text-align: center;
   /* margin: 5px 2px; */
   padding-left: 5px;
   padding-top: 10px;
   background-size: contain;
   background-repeat: no-repeat;
   padding-right: 40px;
   cursor: not-allowed
}


.bottom_nav {
   width: 100%;
   position: fixed;
   bottom: 0;
   background: white;
}
.bottom_nav button{
   width: 100%;
}


.circulo {
   width: 25px;
   height: 25px;
   /* background: white; */
   border: 1px solid #838383;
   border-radius: 50%;
   display: inline-block;
}

.letras_blanca{
   font-size: 19px;
   color: white;
}

.circulo_disponible{
   background: white;
}
.circulo_reservado{
   background: #1d7c22;
}
.circulo_apartado{
   background: #ff6600;
}

#codigo_colores li{
   list-style: none;
}

.chofer{
   width: 50px;
   background: white;
   border-radius: 50%;
}

.banio_icono{
   width: 50px;
   background: white;
   border-radius: 50%;
   padding: 5px;
}

.btn-apartar, .btn-apartar:hover, .btn-apartar:active, .btn-apartar:active:focus{
   background: #ff6600;
   color: white!important;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
   border: 0px!important;
}

.tabla_desktop{
   width: 80%!important;
}

.miniText {
  font-size: 8px;
  float: right;
  transform: rotate(-90deg);
  margin-top: 4px;
  margin-right: -25px;
}

.miniText1{
   font-size: 8px;
   transform: rotate(-90deg);
   padding-left: 0px;
   padding-right: 0px;
   position: relative;
   right: -10px;
   top: -52px;
}
.asiento_el_h {
   width: 70px;
   height: 40px;
   text-align: center;
   /* margin: 5px 2px; */
   padding-left: 5px;
   padding-top: 10px;
   background-image: url('../images/btn_bnc_h.png');
   background-size: contain;
   background-repeat: no-repeat;
   padding-right: 40px;
   color: #333333;
   cursor: pointer;
}

.bottom_nav {
   width: 50%;
   position: initial;
   background: transparent;
   margin: 0px auto;
}

.btn-apartar{
   background: #ff6600;
}

.bus {
  width:100%;
  /*overflow-x: auto;*/

}
