<template>
    <div class="panel panel-default" id="pos">
         <!-- pestañas -->
            <ul class="nav nav-tabs">
                <li v-bind:class="item == reservacion? 'active':''"
                    v-for="(item,index) of reservaciones"
                    :key="index">
                    <a href="#" @click="onClickSeleccionarReservacion(item)">
                        {{(item.cliente == null || item.cliente == '')? 'Venta '+(index+1):item.cliente}}
                          <span class="glyphicon glyphicon-remove" aria-hidden="true" @click="onClickEliminarVenta(item,index)"></span>
                    </a>
                </li>
                <li>
                    <a href="#" @click="onClickNuevaVenta()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
            <!-- fin pestañas -->
        <div class="panel-body" v-show="reservaciones.length > 0">
            <div class="row">
                <div class="col-xs-12">
                    <venta-component :element="reservacion" :corridas="corridas_list"/>
                </div>
            </div>
        </div>
        <notifications group="notification" />
    </div>
</template>

<script>
    import {Reservacion} from '../clases/Reservacion';
    import { api } from '../services/api';
    export default {
        components:{
            'venta-component': require('./VentaComponent.vue')
        },
        data(){
            return {
                reservaciones: [], //lista de reservaciones
                reservacion:{}, //reservacion seleccionada
                corridas_list: []
            }
        },
        mounted() {
            console.log('Component mounted.')
            //Cuando se monta el componente debe tener una reservacion default
            let r  = JSON.parse(JSON.stringify(Reservacion));
            r.id = this.makeid()
            this.reservaciones.push(r);
            //seleccionando la venta default
            this.reservacion = this.reservaciones[0];
            api.listarCorridas((data) => {
                if(data){
                    this.corridas_list = data;
                }
            });
        },
        methods:{
            onClickNuevaVenta(){
              let r  = JSON.parse(JSON.stringify(Reservacion));
              r.id = this.makeid()
                this.reservaciones.push(r);
            },
            onClickSeleccionarReservacion(item){
                console.log("Cambiando");
                this.reservacion = item
            },
            onClickEliminarVenta(item,index){

              let text = ""
              if(item.cliente == null){
                text = "¿Deseas eliminar la venta "+(index+1)+"?"
              } else {
                text = "¿Deseas eliminar la venta del cliente "+item.cliente+"?";
              }
              if(confirm(text)) {
                this.reservaciones.splice(index,1);
                if(this.reservaciones.length > 0){
                  console.log(this.reservaciones[0]);
                  console.log("recorrer la pestaña")
                }
              }
            },
            makeid() {
              var text = "";
              var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

              for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

              return text;
            }

        }
    }
</script>
