<template>
    <div>
      <div v-if="finalizado == false">
          <form role="form" autocomplete="off" class="row">
          <!-- fomulario nombre y tipo de viaje -->

              <div class="col-xs-12 col-md-6">
                  <div :class="err.nombre? 'form-group has-error':'form-group'">
                      <label>Nombre del cliente</label>
                      <input class="form-control" type="text" v-model="element.cliente">
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div :class="err.nombre? 'form-group has-error':'form-group'">
                      <label>Número celular</label>
                      <input class="form-control" type="text" v-model="element.phone">
                  </div>
              </div>
              <div class="col-xs-12 col-md-12">
                  <div class="form-group">
                  <label>Tipo de viaje</label>
                  <select class="form-control" v-model="element.tipo_viaje" @change="onChangeTipoViaje()">
                      <option>sencillo</option>
                      <option>redondo</option>
                  </select>
                  </div>
              </div>

           <!-- fin fomulario nombre y tipo de viaje -->
           <!-- SALIDA -->
              <div class="col-xs-12 col-md-6">
                  <div :class="err.fechas? 'form-group has-error':'form-group'">
                      <label for="fecha_salida" class="control-label">Fecha de ida*</label>
                      <date-input format="DD-MM-YYYY" width="100%" @change="onChangeFechas($event)" lang="es" v-model="fecha_salida" input-class="form-control"></date-input>
                      <p class="help-block"></p>
                  </div>
                  <div :class="err.corridas? 'form-group has-error':'form-group'">
                    <label>Selecciona corrida de ida</label>
                    <select class="form-control" @change="onChangeCorridas($event,'salida')">
                      <option value="" selected>- - Selecciona una corrida</option>
                      <option v-for="(item, index) of corridas" :key="index" :value="item.id"  :selected="corrida_salida == item.id">{{item.nombre}} {{item.hora_salida}}</option>
                    </select>
                  </div>
                  <!-- contenedor de asientos disponibles -->
                    <div class="box box-primary" v-show="corrida_salida_asientos">
                      <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Asientos disponibles</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                        <ul class="todo-list ui-sortable">

                          <li v-for="(item,index) of corrida_salida_asientos" :key="index">

                            <span class="text">Asiento {{item.numero}}</span>
                            <small :class="(item.reservacion)? 'label label-warning':'label label-success'"><i :class="(item.reservacion)? 'fa fa-close':'fa fa-check'"></i> {{(item.reservacion)? item.reservacion.estatus:'disponible'}}</small>
                            <div class="pull-right">
                              <input type="radio" v-model="corrida_salida_asiento" :value="item" :disabled="item.reservacion">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- fin contenedor de asientos disponibles -->
              </div>

            <!-- fin SALIDA -->
            <!-- REGRESO -->
              <div v-show="element.tipo_viaje == 'redondo'" class="col-xs-12 col-md-6">
                  <div :class="err.fechas ? 'form-group has-error':'form-group'">
                      <label for="fecha_salida" class="control-label">Fecha de regreso*</label>
                      <date-input format="DD-MM-YYYY" width="100%" @change="onChangeFechas($event)" lang="es" v-model="fecha_regreso" input-class="form-control"></date-input>
                      <p class="help-block"></p>
                  </div>
                  <div :class="err.corridas? 'form-group has-error':'form-group'">
                    <label>Selecciona corrida de regreso</label>
                    <select class="form-control" @change="onChangeCorridas($event,'regreso')">
                      <option value="" selected>- - Selecciona una corrida</option>
                      <option v-for="(item, index) of corridas" :key="index" :value="item.id">{{item.nombre}}  {{item.hora_salida}}</option>
                    </select>
                  </div>

                  <!-- contenedor de asientos disponibles -->
                    <div class="box box-primary" v-show="corrida_regreso_asientos">
                      <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Asientos disponibles</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                        <ul class="todo-list ui-sortable">

                          <li v-for="(item,index) of corrida_regreso_asientos" :key="index">

                            <span class="text">Asiento {{item.numero}}</span>
                            <small :class="(item.reservacion)? 'label label-warning':'label label-success'"><i :class="(item.reservacion)? 'fa fa-close':'fa fa-check'"></i> {{(item.reservacion)? item.reservacion.estatus:'disponible'}}</small>
                            <div class="pull-right">
                              <input type="radio" v-model="corrida_salida_asiento" :value="item" :disabled="item.reservacion">
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    </div>
                    <!-- fin contenedor de asientos disponibles -->
              </div>
              <!-- REGRESO -->
            <div class="col-xs-12" style="margin-bottom: 10px;" v-show="corrida_salida_asientos">
              <button type="button" class="btn btn-success btn-block" @click="onClickPagar()">PAGAR</button>
            </div>
            <div class="col-xs-12" v-if="buscando == false">
              <button type="button" class="btn btn-primary btn-block" @click="onClickBuscarAsientos()">BUSCAR ASIENTOS</button>
            </div>
            <div class="col-xs-12 text-center" v-else>
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </form>
          <!-- aqui modal -->
          <bootstrap-modal ref="modalCobrar" :need-header="true" :need-footer="true" :size="'large'">
            <div slot="title">
                <b>Resumen</b> <span class="text-muted">Viaje {{element.tipo_viaje=='redondo'? 'Redondo':'Sencillo'}}</span>
            </div>
            <div slot="body">
                <div class="row">
                  <div class="col-xs-12">
                    <h4>CLIENTE: {{element.cliente}}</h4>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <h4>Reservación de ida</h4>
                    <table class="table table-bordered table-striped" v-if="element.reservaciones"> <!-- para que no salga error en la consola -->
                            <tbody>
                            <tr>
                                <th>Corrida</th>
                                <td>{{getInfoCorridaById(element.reservaciones[0].corrida_id)}}</td>
                            </tr>
                            <tr>
                                <th>Asiento</th>
                                <td>{{(element.reservaciones[0].asiento)? element.reservaciones[0].asiento.numero:'Falta asignar'}}</td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input type="text" class="form-control" @keyup="validarPrecio($event)" v-model="element.reservaciones[0].costo_boleto" :disabled="!perm.editar_precios">
                                  </div>
                                </td>
                            </tr>
                            <tr v-if="perm.aplicar_descuentos">
                                <th>Descuento</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input type="number" @keyup="validarDescuento($event)" v-model="element.reservaciones[0].descuento" class="form-control">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Estatus</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <select class="form-control" @change="onChangeReservacionEstatus($event, 'salida')" v-model="element.reservaciones[0].estatus">
                                      <option value="pagado">pagado</option>
                                      <option value="apartado">apartado</option>
                                    </select>
                                  </div>
                                </td>
                            </tr>
                            <tr v-if="element.reservaciones[0].estatus == 'apartado'">
                                <th>Anticipo</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input @keyup="validarAnticipo($event, 'salida')" v-model="element.reservaciones[0].anticipo" type="text" class="form-control">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <th>Costo real</th>
                              <td style="text-align:center;">
                                $ {{(((element.reservaciones[0].descuento*0.01) * element.reservaciones[0].costo_boleto ) - element.reservaciones[0].costo_boleto) * -1}}
                              </td>
                            </tr>
                        </tbody>
                     </table>
                  </div>
                  <div class="col-xs-12 col-md-6" v-if="element.tipo_viaje=='redondo'">
                    <h4>Reservación de regreso</h4>
                    <table class="table table-bordered table-striped" v-if="element.reservaciones"> <!-- para que no salga error en la consola -->
                            <tbody>
                            <tr>
                                <th>Corrida</th>
                                <td>{{getInfoCorridaById(element.reservaciones[1].corrida_id)}}</td>
                            </tr>
                            <tr>
                                <th>Asiento</th>
                                <td>{{(element.reservaciones[1].asiento)? element.reservaciones[1].asiento.numero:'Falta asignar'}}</td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input type="text" class="form-control" @keyup="validarPrecio($event)" v-model="element.reservaciones[1].costo_boleto" :disabled="!perm.editar_precios">
                                  </div>
                                </td>
                            </tr>
                            <tr v-if="perm.aplicar_descuentos">
                                <th>Descuento</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input type="number" @keyup="validarDescuento($event)" v-model="element.reservaciones[1].descuento" class="form-control">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Estatus</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <select class="form-control" @change="onChangeReservacionEstatus($event, 'salida')" v-model="element.reservaciones[1].estatus">
                                      <option value="pagado">pagado</option>
                                      <option value="apartado">apartado</option>
                                    </select>
                                  </div>
                                </td>
                            </tr>
                            <tr v-if="element.reservaciones[1].estatus == 'apartado'">
                                <th>Anticipo</th>
                                <td>
                                  <div class="input-group" style="width: 100%;">
                                    <input @keyup="validarAnticipo($event, 'regreso')" v-model="element.reservaciones[1].anticipo" type="text" class="form-control">
                                  </div>
                                </td>
                            </tr>
                            <tr>
                              <th>Costo real</th>
                              <td style="text-align:center;">
                                $ {{(((element.reservaciones[1].descuento*0.01) * element.reservaciones[1].costo_boleto ) - element.reservaciones[1].costo_boleto) * -1}}
                              </td>
                            </tr>
                        </tbody>
                     </table>
                  </div>
                </div>
            </div>
            <div slot="footer">
                <div class="text-center" v-if="element.reservaciones">
                    <h5>Total</h5>
                    <h1>
                      $ {{getTotalPagar()}}
                    </h1>
                    <button type="button" class="btn btn-block btn-success btn-flat" @click="onClickCobrar()" v-if="isCobrando == false">Cobrar</button>
                    <div class="col-xs-12 text-center" v-else>
                      <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
          </bootstrap-modal>
          <!--- fin modal -->
      </div>
      <div v-else>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-1 col-xs-12">
            <!-- small box -->
            <div class="small-box bg-gray">
              <div class="inner">
                <h3>{{reservacion_salida.corrida.nombre}}</h3><span class="label label-default pull-right">{{reservacion_salida.estatus}}</span>

                <div>
                {{reservacion_salida.cliente}}
                </div>
                <div>
                Número de asiento :{{reservacion_salida.asiento.numero}}
                </div>
                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-bandcamp"></i>
                    </div>
                    <input type="text" class="form-control" :value="reservacion_salida.clave" readonly>
                  </div>
                </p>

                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" :value="reservacion_salida.fecha_reservacion" readonly>
                  </div>
                </p>

                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-money"></i>
                    </div>
                    <input type="text" class="form-control"  :value="reservacion_salida.costo_boleto" readonly>
                  </div>
                </p>

              </div>
              <div class="icon">
                <i class="fa fa-ticket"></i>
              </div>
              <a target="_blank" :href="'/admin/reservaciones/imprimir/'+reservacion_salida.clave" class="small-box-footer">
                Imprimir boleto <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-lg-offset-1 col-xs-12" v-if="element.tipo_viaje == 'redondo'">
            <!-- small box -->
            <div class="small-box bg-gray">
              <div class="inner">
                <h3>{{reservacion_regreso.corrida.nombre}}</h3><span class="label label-default pull-right">{{reservacion_regreso.estatus}}</span>

                <div>
                {{reservacion_regreso.cliente}}
                </div>
                <div>
                Número de asiento :{{reservacion_regreso.asiento.numero}}
                </div>
                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-bandcamp"></i>
                    </div>
                    <input type="text" class="form-control" :value="reservacion_regreso.clave" readonly>
                  </div>
                </p>

                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control" :value="reservacion_regreso.fecha_reservacion" readonly>
                  </div>
                </p>

                <p class="text-center">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-money"></i>
                    </div>
                    <input type="text" class="form-control"  :value="reservacion_regreso.costo_boleto" readonly>
                  </div>
                </p>

              </div>
              <div class="icon">
                <i class="fa fa-ticket"></i>
              </div>
              <a target="_blank" :href="'/admin/reservaciones/imprimir/'+reservacion_regreso.clave" class="small-box-footer">
                Imprimir boleto <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import DatePicker from 'vue2-datepicker'
import { api } from '../services/api';
import * as moment from 'moment';
    export default {
        props:[
            'element',
            'corridas'
        ],
        data(){
            return {
              isCobrando: false,
              finalizado: true,
              buscando: false,
              fecha_salida:'',
              fecha_regreso:'',
              reservacion_salida: null,
              reservacion_regreso:null,
              corrida_salida: '',
              corrida_salida_nombre: '',
              corrida_regreso: '',
              corrida_regreso_nombre: '',
              corrida_salida_asiento: '',
              corrida_regreso_asiento: '',
              corrida_salida_asientos:[],
              corrida_regreso_asientos:[],
              precio:{},
              err:{
                corridas: false,
                fechas:false,
                nombre: false,
              },
              perm:{
              	costo_boleto_sencillo: 250.00,
              	tiempo_espera_reservacion: 60,
              	editar_precios: 0,
              	aplicar_descuentos: 0,
              	costo_boleto_redondo: 480.00
              }
            }
        },
        mounted() {
            console.log("Venta component mounted")
            //this.$refs.modalCobrar.open()
        },
        methods:{
            onChangeTipoViaje(){
              this.corrida_salida_asientos = [];
              this.corrida_regreso_asientos = [];
              this.corrida_salida_asiento = null;
              this.corrida_regreso_asiento = null;
            },
            onChangeCorridas(evt, input){
              this.resetErr();
              this.corrida_salida_asientos = [];
              this.corrida_regreso_asientos = [];
              this.corrida_salida_asiento = null;
              this.corrida_regreso_asiento = null;
              console.log("onChangeCorridas()",evt.target.value);

                //asignando id de corridas
               if(this.element.tipo_viaje == 'redondo'){
                   if(input == 'salida'){
                        this.corrida_salida = evt.target.value
                        this.corrida
                   } else {
                        this.corrida_regreso = evt.target.value
                   }
               } else {
                    this.corrida_salida = evt.target.value
               }
               //validando si son corridas identicas
               this.err.corridas = false;
               if(this.element.tipo_viaje == 'redondo') {
                   if(this.corrida_salida == this.corrida_regreso) {
                        this.notification("Revisa tus corridas, son identicas");
                        this.corrida_regreso = null
                        this.err.corridas = true;
                    }
               }

            },
            onChangeFechas(input){
              this.resetErr();
              this.corrida_salida_asientos = [];
              this.corrida_regreso_asientos = [];
              this.corrida_salida_asiento = null;
              this.corrida_regreso_asiento = null;
                console.log("cambió la fecha");
                moment.locale('es');
                this.err.fechas = false;
                let msg = "";
                let band = true;
                //Validando si la fecha escogida es menor a la de hoy
                console.log(this.fecha_salida)
                if(this.fecha_salida != null){ //solo para que no muestre error en la consola
                  let date_today = (this.fecha_salida.toString().substr(0,15))
                  let date_selected = (new Date().toString().substr(0,15))
                  if(moment(date_today).unix() < moment(date_selected).unix()){
                    this.notification("La fecha de ida es menor a la fecha de hoy");
                    this.err.fechas = true;
                    this.fecha_salida = '';
                  }
                }
                // validando fechas si salida es mayor a regreso y antes no haya  pasado por la
                //validación de la fecha salida si es menor a la fecha de "hoy"
                if(this.element.tipo_viaje == 'redondo' && band == true) {
                  let d = moment(this.fecha_salida).diff(moment(this.fecha_regreso));
                  console.log(d)
                  if(d > 0){
                    band = false;
                    this.err.fechas = true;
                    this.fecha_regreso = '';
                    msg = "La fecha de ida es mayor a la fecha de regreso"
                  }
                }
                if(!band){
                    this.notification(msg);
                }
            },
            onClickBuscarAsientos(){
              this.resetErr();
              if(this.validarInfo()){
                moment.locale('es');
                this.corrida_salida_asientos = [];
                this.corrida_regreso_asientos = [];
                this.element.reservaciones[0].asiento_id = null;
                this.element.reservaciones[1].asiento_id = null;
                this.element.reservaciones[0].fecha_reservacion = moment(this.fecha_salida).format('YYYY-MM-DD');//.unix();
                this.element.reservaciones[1].fecha_reservacion = moment(this.fecha_regreso).format('YYYY-MM-DD');//.unix();
                let d = moment(this.fecha_salida).diff(moment(this.fecha_regreso));
                this.buscando = true;
                api.buscarAsientos(this.element,(data) => {
                  this.buscando = false;
                  console.log(data);
                  if(data) {
                    this.perm = data.permisos;
                    this.corrida_salida_asientos = data.corrida_salida_asientos;
                    this.corrida_regreso_asientos = data.corrida_regreso_asientos;
                    this.precio = data.precio
                  }
                });
              }
            },
            resetErr(){
              this.err = {
                corridas: false,
                fechas: false,
                nombre: false,
              };
            },
            validarInfo() {
              this.resetErr();
              let band = true;
              let msg = "";
              if(this.element.cliente == '' || this.element.cliente == null){band=false;msg="El campo de nombre está vacío";this.err.nombre=true;}
              if(this.fecha_salida == '' || this.fecha_salida == null){band=false;msg="El campo de fecha de ida está vacío";this.err.fechas=true;}
              if((this.fecha_regreso == '' || this.fecha_regreso == null) && this.element.tipo_viaje == 'redondo'){band=false;msg="El campo de fecha de regreso está vacío";this.err.fechas=true;}
              /*if(this.element.tipo_viaje == 'redondo' && (this.fecha_salida != '' && this.fecha_salida != '')){
                if(this.fecha_salida == this.fecha_regreso){band=false;msg="Tu fecha de ida y regreso son iguales";this.err.fechas=true;}
              }*/
              if(this.element.reservaciones[0].corrida_id == null){band=false;msg="Selecciona las corridas";this.err.corridas=true;}
              if(this.element.tipo_viaje == 'redondo' && this.element.reservaciones[1].corrida_id == null){band=false;msg="Selecciona las corridas";this.err.corridas=true;}
              if(band == false){this.notification(msg);}
              return band;
            },
            onClickPagar(){
              this.element.reservaciones[0].costo_boleto = 0;
              this.element.reservaciones[1].costo_boleto = 0;
              console.log("corrida_salida_asiento", this.corrida_salida_asiento);
              console.log("corrida_regreso_asiento", this.corrida_regreso_asiento);
              console.log("tipo_viaje", this.element.tipo_viaje);
              console.log("perm", this.perm);
              console.log(this.element);
              let band = true;
              if(this.element.tipo_viaje == 'sencillo') {
                if(this.corrida_salida_asiento == null) { band=false;this.notification("Selecciona un asiento"); }
              }

              if(this.element.tipo_viaje == 'redondo'){
                if(this.corrida_salida_asiento == null || this.corrida_regreso_asiento == null ) { band=false;this.notification("Te falta seleccionar asientos"); }
              }
              if(band == true){
                this.element.reservaciones[0].costo_boleto = this.precio.raw;
                this.element.reservaciones[1].costo_boleto = (this.element.tipo_viaje == 'redondo')? this.precio.raw:0;
                this.$refs.modalCobrar.open()
              }
            },
            getInfoCorridaById(corrida_id){
              let nombre;
              this.corridas.forEach((item,index) => {
                if(item.id == corrida_id){
                  nombre = item.nombre + ' ' +item.hora_salida;
                }
              });
              return nombre;
            },
            validarDescuento(evt){
              evt.target.value = parseInt((evt.target.value>100)? 0:evt.target.value);
            },
            validarPrecio(evt){
              evt.target.value = parseInt(evt.target.value);
              evt.target.value= (isNaN(evt.target.value))? 0: evt.target.value;
            },
            validarAnticipo(evt,tipo_corrida){
              console.log("validando anticipo de "+tipo_corrida)
              evt.target.value = parseInt(evt.target.value);
              evt.target.value= (isNaN(evt.target.value))? 0: evt.target.value;
              if(tipo_corrida == 'salida'){
                let costo_boleto = (((this.element.reservaciones[0].descuento*0.01) * this.element.reservaciones[0].costo_boleto ) - this.element.reservaciones[0].costo_boleto) * -1
                if(evt.target.value > parseInt(costo_boleto)){
                  evt.target.value=0;
                  this.notification("El anticipo es mayor a precio real del boleto");
                }
              } else {
                let costo_boleto = (((this.element.reservaciones[1].descuento*0.01) * this.element.reservaciones[1].costo_boleto ) - this.element.reservaciones[1].costo_boleto) * -1

                if(evt.target.value > parseInt(costo_boleto)){
                  evt.target.value=0;
                  this.notification("El anticipo es mayor a precio del boleto");
                }
              }
            },
            onChangeReservacionEstatus(evt,tipo_viaje) {
              console.log("tipo_viaje", tipo_viaje)
              console.log("evt", evt.target.value)
              if(tipo_viaje == 'sencillo'){
                if(evt.target.value == 'pagado'){
                  this.element.reservaciones[0].anticipo = 0;
                }
              } else {
                if(evt.target.value == 'pagado') {
                  this.element.reservaciones[0].anticipo = 0;
                  this.element.reservaciones[1].anticipo = 0;

                }
              }
            },
            getTotalPagar(){
              let sum = 0;
              // sumando el boleto de salida
              sum += parseFloat((((this.element.reservaciones[0].descuento*0.01) * this.element.reservaciones[0].costo_boleto ) - this.element.reservaciones[0].costo_boleto) * -1);
              // sumando el boleto de regreso
              sum += parseFloat((((this.element.reservaciones[1].descuento*0.01) * this.element.reservaciones[1].costo_boleto ) - this.element.reservaciones[1].costo_boleto) * -1);

              // restandole anticipo boleto salida
              sum -= parseInt(this.element.reservaciones[0].anticipo);
              // restandole anticipo boleto regreso
              sum -= parseInt(this.element.reservaciones[1].anticipo);
              return sum;
            },
            onClickCobrar(){
              this.isCobrando = true;
              this.element.reservaciones[0].asiento_id = this.element.reservaciones[0].asiento.id;
              if(this.element.tipo_viaje == 'redondo') {
                this.element.reservaciones[1].asiento_id = this.element.reservaciones[1].asiento.id;
              }
              this.element.user_id = document.head.querySelector('meta[name="auth-user"]').content;
              api.cobrar(this.element, (data) => {
                this.isCobrando = false;
                if(data){
                  this.$refs.modalCobrar.close()
                  this.finalizarVenta();
                  this.reservacion_salida = data.reservacion_salida;
                  this.reservacion_regreso = data.reservacion_regreso;
                }
              });
            },
            notification(text){
              this.$notify({
                group: 'notification',
                type:'warn',
                title: 'Alerta',
                text: text
              });
            },
            finalizarVenta() {
              this.finalizado = true;
              this.element.cliente += " (finalizado)"
            }
        },
        components: {
          'date-input':DatePicker,
          'bootstrap-modal': require('vue2-bootstrap-modal')
        },
        watch:{
          element: function(){
            console.log('cambió de pestaña de venta');
            this.resetErr();
            this.fecha_salida = this.element.reservaciones[0].fecha_reservacion;
            this.fecha_regreso = this.element.reservaciones[1].fecha_reservacion;
            this.corrida_salida = this.element.reservaciones[0].corrida_id;
            this.corrida_regreso = this.element.reservaciones[1].corrida_id;
            this.finalizado = this.element.finalizado;
            this.corrida_salida_asiento = null;//this.element.reservaciones[0].asientos_id;
            this.corrida_regreso_asiento= null;//this.element.reservaciones[1].asientos_id;
            this.corrida_salida_asientos = [];
            this.corrida_regreso_asientos = [];
            this.reservacion_salida = this.element.reservacion_salida;
            this.reservacion_regreso = this.element.reservacion_regreso;
            console.log(this.element);
            if(this.corrida_salida){
              this.onClickBuscarAsientos();
            }
          },

          fecha_salida: function(){
            this.element.reservaciones[0].fecha_reservacion = this.fecha_salida;
          },
          fecha_regreso: function(){
            this.element.reservaciones[1].fecha_reservacion = this.fecha_regreso;
          },
          corrida_salida: function(){
            this.element.reservaciones[0].corrida_id = this.corrida_salida;
          },
          corrida_regreso: function(){
            this.element.reservaciones[1].corrida_id = this.corrida_regreso;
          },
          corrida_salida_asiento: function(){
            this.element.reservaciones[0].asiento = this.corrida_salida_asiento;
          },
          corrida_regreso_asiento: function(){
            this.element.reservaciones[1].asiento = this.corrida_regreso_asiento;
          },
          finalizado: function(){
            this.element.finalizado = this.finalizado;
          },
          reservacion_salida: function(){
            this.element.reservacion_salida == this.reservacion_salida;
          },
          reservacion_regreso: function(){
            this.element.reservacion_regreso == this.reservacion_regreso;
          },
        }
    }
</script>

<style>
  .bg-gray{
    color: #d2d6de;
    background-color: #37474f  !important;
  }
</style>
